<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href="/static/css/mystyle.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/js/time.js"></script>
	<script src="/static/js/weather_test.js"></script>
        <title>openweather</title>
    </head>
    <body onload=display_ct();>
        
        <!-- Time -->
        <table style="width:100%">
            <tr>
                <td>
                    <div id="time" style="font-size: 250px; text-align: center; text-shadow: 2px 2px black"></div>
                </td>
            </tr>
        </table>
        
        <!-- Today -->
        <table style="width:100%">
            <tr>
                <td style="width: auto">
                    <p style="text-align: center; text-shadow: 2px 2px 2px black">Inside</p>
                    <h1 style="text-align: center; font-size: 100px; text-shadow: 2px 2px 2px black">{{avgtemp}}&#8457;</h1>
                </td>
                
                <td style=" background: url('{{icon}}'); background-repeat: no-repeat; background-size: 100%"> 
                <p style="text-align: center; line-height: 0px; text-shadow: 2px 2px 2px black">{{description}}</p>
                {% if rain != 0 or snow != 0 %}
                <h2 style="text-align: center; text-shadow: 2px 2px 2px black">Per Hour:  
                    <span>&#128167;{{rainhr}}"</span>
                    <span>&#10052;{{snowhr}}"</span>
                </h2>
                {% endif %}
                </td>
                
                <td style="width: auto">
                    <p style="text-align: center; text-shadow: 2px 2px 2px black">Feels Like {{realfeel}}&#8457;</p>
                    <h1 style="font-size: 100px; text-shadow: 2px 2px 2px black">{{outsidetemp}}&#8457;</h1>
                    <h2 style="text-align: center; text-shadow: 2px 2px 2px black">
                        <span style="color: red">{{high}}&#8457;</span>
                        <span style="color: blue">{{low}}&#8457;</span>
                    </h2>
                    {% if rain != 0 or snow != 0 %}
                    <h2 style="text-align: center; text-shadow: 2px 2px 2px black">  
                        <span>&#128167;{{rain}}"</span>
                        <span>&#10052;{{snow}}"</span>
                    </h2>
                    {% endif %}
                </td>
            </tr>
        </table>
        
        <!--Forecast-->
        <table style="width: 100%">
                {% for x in forcast %}
                <td style="width: auto">
                <div class="container">
                    <img style="width: 100%" src={{x[3]}} alt="weather img">
                    <div class="top-center" style="font-size: 40px; text-shadow: 2px 2px 2px black">{{x[0]}}</div>
                    
                    <div class="bottom-left" style="text-align: center; font-size: 25px; text-shadow: 2px 2px 2px black">
                        <span style="color: red">{{x[1]}}&#8457;</span>
                    </div>
                    <div class="bottom-right" style="text-align: center; font-size: 25px; text-shadow: 2px 2px 2px black">
                        <span style="color: blue">{{x[2]}}&#8457;</span>
                    </div>
                    {% if x[5] != 0 and x[6] != 0 %}
                    <h2 style="text-align: center; text-shadow: 2px 2px 2px black">
                        <span>&#128167;{{x[5]}}"</span>
                        <span>&#10052;{{x[6]}}"</span>
                    </h2>
                    {% elif x[5] != 0 %}
                    <h2 style="text-align: center; text-shadow: 2px 2px 2px black">
                        <span>&#128167;{{x[5]}}"</span>
                        <span style="color: black">{{x[6]}}"</span>
                    </h2>
                    {% elif x[6] != 0 %}
                    <h2 style="text-align: center; text-shadow: 2px 2px 2px black">
                        <span>&#10052;{{x[6]}}"</span>
                        <span style="color: black">{{x[5]}}"</span>
                    </h2>
                    {% else %}
                    <h2 style="color: black; text-align: center">
                        <span style="color: black">{{x[5]}}"</span>
                        <span style="color: black">{{x[6]}}"</span>
                    </h2>
                    {% endif %}
                </div>
                </td>
                {% endfor %}
        </table>
        <p id="title"></p>
        <!-- Alerts -->
        {% if alerts %}
        <marquee behavior="scroll" direction="left" scrollamount="30" style="text-align: center; font-size: 100px; color: white">{{alerts}}</marquee>
        {% endif %}
    </body>
</html>
