<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta http-equiv='refresh' content="900">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href="/static/css/mystyle.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        </script>
        <script src="/static/js/time.js"></script>
        <script src="/static/js/weather_test.js"></script>
        <title>Home Test Java</title>
    </head>
    <body onload=loaddata();>
        <table style="width:100%">
            <tr>
                <td>
                    <div id="time" style="font-size: 250px; text-align: center"></div>
                </td>
            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <td style="width: 25%">
                    <p style="line-height: .5; text-align: left">Inside</p>
                    <h1 id="avgtemp" style="text-align: left; font-size: 100px"></h1>
                </td>
                <td style="width: 25%">
                    <img src="icon" id="icon" style="float: right; width: 100%;" alt="weather img">
                    
                </td>
                <td style="width: 25%">
                    <p id="realfeel" style="line-height: .5; text-align: center"></p>
                    <h1 id="outsidetemp" style="font-size: 100px"></h1>
                    </td>
                <td style="width: 25px">
                    <h2 id="high" style="line-height: .5; color: red"></h2>
                    <h2 id="low" style="line-height: .5; color: blue"></h2>
                </td>
            </tr>
        </table>

        <table id="forcastdays" style="width:100%">
            <tr id='row'>
            </tr>
        </table>
        {% if alerts %}
        <h2 style="text-align: center">Alerts: {{alerts}}</h2>
        {% endif %}
        
    </body>
</html>