body {
    background-color: black;
}

tbody {
    background-color: black;
}
tr {
    font-size: 100px;
    background-color: black;
    color: white
}

td {
    font-size: 25px;
    background-color: black;
    text-align: center;
}

th {
    font-size: 25xp;
    text-align: center;
}

button {
    width: 100%;
    height: 100%;
    font-size: 60px;
}

div {
    font-size: 100px;
    color: white;
    text-align: center;
}

h1 {
    font-size: 75px;
    color: white;
    text-align: center;
    line-height: 0%;
}

h2 {
    font-size: 20px;
    color: white;
    text-align: right;
    line-height: 0%;
}

h3 {
    font-size: 25px;
    color: white;
    text-align: center;
}

p {
    font-size: 25px;
    color: white;
    text-align: center;
    clear: both;
}

table {
    font-size: 400dpx;
    table-layout: fixed;
    padding: 0px;
    margin: 0px;
}

article {
  float: left;
  padding: 20px;
  width: 50%;
}

span {
    font-size: 25px
    color: white;
}

.column {
    float: left;
    width: 50%;
    padding: 0px;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-center {
    position: absolute;
    top: 0%;
    left: auto;
    font-size: 25px;
}

.bottom-center {
    position: absolute;
    bottom: 0%;
    left: 50%;
    font-size: 25px;
}


